services:
  postgres:
    image: postgres:15-alpine
    container_name: pg
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
      POSTGRES_DB: events
    ports:
      - '5433:5432'
    volumes:
      - pg-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U dev']
      interval: 10s
      retries: 5

  nats:
    image: nats:2.10-alpine
    container_name: nats
    command: ['-js', '-sd', '/data', '-m', '8222']
    ports:
      - '4222:4222'
      - '8222:8222'
    volumes:
      - nats-data:/data
    healthcheck:
      test: ['CMD-SHELL', 'wget -qO- http://localhost:8222/healthz || exit 1']
      interval: 5s
      retries: 5

  gateway:
    build: ./gateway
    depends_on:
      - postgres
      - nats
    environment:
      NATS_URL: nats://nats:4222
      PORT: 3000
    ports:
      - '3000:3000'

  publisher:
    image: andriiuni/events
    depends_on:
      - gateway
    environment:
      EVENT_ENDPOINT: http://gateway:3000/webhooks

volumes:
  pg-data:
  nats-data:
